backports.tarfile==1.2.0
black==24.4.2
certifi==2024.7.4
cffi==1.16.0
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
coverage==7.5.4
cryptography==42.0.8
distlib==0.3.8
docutils==0.20.1
exceptiongroup==1.2.1
filelock==3.15.4
flake8==7.1.0
identify==2.5.36
idna==3.7
importlib_metadata==8.0.0
iniconfig==2.0.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jeepney==0.8.0
Jinja2==3.1.4
keyring==25.2.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mccabe==0.7.0
mdurl==0.1.2
more-itertools==10.3.0
mypy-extensions==1.0.0
nh3==0.2.17
nodeenv==1.9.1
packaging==24.1
pathspec==0.12.1
pkginfo==1.10.0
platformdirs==4.2.2
pluggy==1.5.0
pre-commit==3.7.1
pycodestyle==2.12.0
pycparser==2.22
pyflakes==3.2.0
Pygments==2.18.0
pytest==8.2.2
pytest-cov==5.0.0
pytest-html==4.1.1
pytest-metadata==3.1.1
PyYAML==6.0.1
readme_renderer==43.0
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
SecretStorage==3.3.3
tomli==2.0.1
twine==5.1.1
typing_extensions==4.12.2
urllib3==2.2.2
virtualenv==20.26.3
zipp==3.19.2
